%h2 Log in

=form_tag sessions_path, {class: "form-horizontal"} do
	.control-group
		%label.control-label
			%b Login
		.controls 
			= text_field_tag :login, params[:login]
	.control-group
		%label.control-label
			%b Password
		.controls
			= password_field_tag :password
	.control-group
		.controls
			= submit_tag "Log in", {class: "btn"}


/    %b Login
/    %br
/    = text_field_tag :login, params[:login]
/    %br
/    %b Password
/    %br
/    = password_field_tag :password
/    %br*/
/			= submit_tag "Log in", {class: "btn"}
