/%h2 Über Cool Database !!!

%br

= link_to drivers_path do
    .button="Drivers"

= link_to registration_plates_path do
    .button="Registratrion plates"

= link_to vehicles_path do
    .button="Vehicles"

= link_to offence_types_path do
    .button="Offence Types"