%h2 Drivers
%ul
    %li list
    %li new
    %li ...

%h2 Registration Plates
%ul
    %li ...

%h2 Vehicles
%ul
    %li ...

%h2 Offences
%ul
    %li new type
    %li new offence
    %li list offence

/= link_to drivers_path do
/    .button="Drivers"

/= link_to registration_plates_path do
/    .button="Registratrion plates"

/= link_to vehicles_path do
/    .button="Vehicles"

/= link_to offence_types_path do
/    .button="Offence Types"