%h2 Offences
=link_to "Offences", offences_path
=link_to "Add offence", new_offence_path
/=link_to "Edit offence", edit_offence_path(nil)
/=link_to "Offence detail", offence_path

%h2 Driving licences
=link_to "", new_licence_group_path
/=link_to "", edit_licence_group_path
/=link_to "", licence_group_path

%h2 Bonus point
=link_to "", bonus_points_path
=link_to "", new_bonus_point_path
/=link_to "", edit_bonus_point_path
/=link_to "", bonus_point_path

%h2 Vehicle thefts
=link_to "", thefts_path
=link_to "", new_theft_path
/=link_to "", edit_theft_path
/=link_to "", theft_path

%h2 Offence types
=link_to "", offence_types_path
=link_to "", new_offence_type_path
/=link_to "", edit_offence_type_path
/=link_to "", offence_type_path

%h2 Vehicles
=link_to "", vehicles_path
=link_to "", new_vehicle_path
/=link_to "", edit_vehicle_path
/=link_to "", vehicle_path

%h2 Registration plates
=link_to "", registration_plates_path
=link_to "", new_registration_plate_path
/=link_to "", edit_registration_plate_path
/=link_to "", registration_plate_path

%h2 Drivers
=link_to "", drivers_path
=link_to "", new_driver_path
/=link_to "", edit_driver_path
/=link_to "", driver_path

- # asi zrusit, to je zbytecny
- #=link_to "lic restr", ...
- #=link_to "Insurances", insurances_path
