-if @current_user.judge?
    / prestupek U
    %h2 Offences
    %ul
        %li=link_to "Browse offences", offences_path
        %li=link_to "Browse drivers", drivers_path

-if @current_user.policeman?
    / vozidla R
    %h2 Vehicles
    %ul
        %li=link_to "Browse vehicles", vehicles_path
    / kradez RWU
    %h2 Vehicle thefts
    / prestupky RW
    / ridici R (skore)

-if @current_user.clerk?
    / vozidla RW
    / prestupky RW
    / ridici RW

%hr

%h2 Offences
=link_to "Offences", offences_path
=link_to "Add offence", new_offence_path
/=link_to "Edit offence", edit_offence_path(nil)
/=link_to "Offence detail", offence_path

%h2 Driving licences
=link_to "", new_licence_group_path
/=link_to "", edit_licence_group_path
/=link_to "", licence_group_path

%h2 Bonus point
=link_to "", bonus_points_path
=link_to "", new_bonus_point_path
/=link_to "", edit_bonus_point_path
/=link_to "", bonus_point_path

%h2 Vehicle thefts
=link_to "", thefts_path
=link_to "", new_theft_path
/=link_to "", edit_theft_path
/=link_to "", theft_path

%h2 Offence types
=link_to "", offence_types_path
=link_to "", new_offence_type_path
/=link_to "", edit_offence_type_path
/=link_to "", offence_type_path

%h2 Vehicles
=link_to "", vehicles_path
=link_to "", new_vehicle_path
/=link_to "", edit_vehicle_path
/=link_to "", vehicle_path

%h2 Registration plates
=link_to "", registration_plates_path
=link_to "", new_registration_plate_path
/=link_to "", edit_registration_plate_path
/=link_to "", registration_plate_path

%h2 Drivers
=link_to "", drivers_path
=link_to "", new_driver_path
/=link_to "", edit_driver_path
/=link_to "", driver_path

%hr

%h2 TODO: tohle bych zrusil

%h2 Vehicle insurances
=link_to "", insurances_path
=link_to "", new_insurance_path
/=link_to "", edit_insurance_path
/=link_to "", insurance_path

%h2 Licence restrictions
=link_to "Licence restrictions", licence_restricts_path
=link_to "Add licence restriction", new_licence_restrict_path
/=link_to "Edit", edit_licence_restrict_path
/=link_to "", licence_restrict_path
=link_to "", licence_groups_path

%hr

=link_to "Add driver", new_driver_path
=link_to "Show all drivers", drivers_path
/=link_to "Find driver",

=link_to "Drivers", drivers_path
=link_to "Bonus Points", bonus_points_path

=link_to "Vehicles", vehicles_path
=link_to "Registration Plates", registration_plates_path
=link_to "Thefts", thefts_path
=link_to "Insurances", insurances_path

=link_to "Offence Types", offence_types_path
=link_to "Offences", offences_path

=link_to "Driving Licences", licence_groups_path
=link_to "Driving Restrictions", licence_restricts_path
