%h2 Edit Registration Plate

=render 'form'

%p=link_to 'Destroy', registration_plate_path, :confirm => 'Are you sure?', :method => :delete

%p= link_to "Back to Registration Plates", registration_plates_path
