%h2 Registration Plate Detail

%table{:width => '100%'}
	%tr
		%td Registration number
		%td= @plate.reg
	%tr
		%td Valid from
		%td= @plate.valid_from
	%tr
		%td Valid to
		%td= @plate.valid_to

%p= link_to "Back to Registration Plates", registration_plates_path
