%h2 Edit Driver

=render 'form'

%p
    = link_to "Add driving license", new_licence_group_path, :class => 'btn'
%p
    -if @current_user.admin?
        = link_to "Destroy", driver_path, :confirm => "Are you sure you want to destroy this driver?", :method => :delete, :class => 'btn btn-danger'
    = link_to "Back to drivers", drivers_path, :class => 'btn'
