// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
    margin: 30px;
    background-color: #ddd;
    padding: 30px;
    text-align: center;
    font-size: 200%;
    color: #000;

    border-radius: 30px;
}

a, .button {text-decoration: none;}

.button:hover {
    background-color: #bbb;
}
