%h2 Edit Driving Licence

=render 'form'

%p
    -if @current_user.admin?
        = link_to "Destroy", licence_group_path, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'
    = link_to "Back to licence groups", licence_groups_path, :class => 'btn'
